/* Admin Page */

.products-list .product-info {
	margin-left: 0;
}

.form-delete-inline {
	display: inline-block;
}

.btn-link-danger,
.btn-link-danger:hover {
	background: none;
	color: #9C1313;
}

.user-header {
	background-size: cover !important;
}

/* Custom modal dialog position */

@media(min-width: 768px){
	.modal-dialog {
		margin: 15% auto;
	}
}

input.datepicker {
	padding: 6px 12px;
}

.select2-result-user > .user-picture {
	max-width: 64px;
	margin-right: 15px;
	float: left;
}

.select2-result-user > .user-picture > img {
	width: 100%;
	height: auto;
}

.select2-result-user > .user-meta {
	float: left;
}

.select2-result-user > .user-meta > p {
	margin-bottom: 2px;
}

.select2-result-user > .user-meta > .meta {
	font-size: 12px;
}

.no-padding-left-right {
	padding-left: 0;
	padding-right: 0;
}

@media(max-width:767px){
	.wysihtml5-sandbox {
		max-width: 100% !important;
	}
}

.cover {
	position: relative;
	margin-bottom: 2rem;
	height: 350px;
	overflow-y: hidden;
}

.cover a {
	color: #FFF;
}

.cover > img {
	max-width: 100%;
	height: autor;
}

#chg-cover {
	position: absolute;
	padding: 2px 5px;
	bottom: 0; right: 0;
	background: rgba(0,0,0,0.5);
}

.picture {
	position: absolute;
	bottom: 50%; left: 0; right: 0;
	transform: translateY(50%);
	max-width: 120px;
	max-height: 120px;
	margin: auto;
	border: 4px solid #FFF;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
}

.picture a > img {
	max-width: 100%;
}

.chg-picture {
    background: rgba(0,0,0,0.5);
    color: #FFF;
    position: relative;
    display: block;
    padding: 5px 0;
    transition: all 0.1s linear 0s;
}

.picture:hover .chg-picture {
    transform: translate3d(0,-30px,0);
}