html {
	font-size: 16px;
}

body {
	background-color: #F5F8FA;
	line-height: 1.6;
	font-family: "Open Sans", Helvetica, sans;
	color: #1E3948;
}

.btn {
	border-radius: 0;
	border: none;
}

.navbar-default {
	background-color: #205081;
	font-size: 1rem;
	border: none;
}

.navbar-header {
	display: inline-block;
}

.navbar-brand {
	color: #FFFFFF;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .nav > li > a {
	color: #F5F6F7;
}

.nav > li {
	display: inline-block;
}

.navbar-default .nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}

@media(min-width:768px){
	.navbar-brand {
		height: 50px;
	}
}

@media(max-width:767px){
	.navbar-brand {
		height: 43px;
	}
}

.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-primary {
	display: inline;
}

.navbar-right {
	float: right;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	background-color: #3572B0;
	color: #FFFFFF;
}

.profile-link {
	font-size: 0.875rem;
}

.nav > li.profile-link > a > img {
	max-width: 20px;
}

.content {
	padding-top: 81px;
}

@media(min-width: 768px){
	.left-sidebar {
		position: fixed;
	}
}

.lms-sidebar-menu ul li,
.classrooms ul li {
	display: block;
}

.lms-sidebar-menu ul li a {
	font-weight: 500;
}

.lms-sidebar-menu ul li a .fa,
.classrooms .fa {
	width: 20px;
}

.lms-sidebar-menu h5,
.classrooms h5 {
	font-weight: 700;
}

/* Content & Widget */

.widget,
.entry {
	background-color: #FFFFFF;
	border: 1px solid #D3E0E9;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	border-radius: 4px;
	margin-bottom: 30px;
	padding: 15px;
	font-size: 14px;
}

@media (min-width: 767px) and (max-width: 991px){
	.custom-sm-offset-4 {
		margin-left: 33.3333%;
	}
}

.widget > .heading {
	margin: 0 0 15px;
	font-size: 15px;
	font-weight: 500;
}

.widget > ul {
	list-style: none;
	padding: 0;
}

.widget i[class^="fa"] {
	margin-right: 10px;
}

.widget > ul > li {
	display: block;
	margin-bottom: 6px;
}

.widget > ul > li.divider {
	border-bottom: 1px solid #F5F6F7;
	content: "";
	margin: 10px 0;
}

.widget.profile {
	padding: 0;
	margin-top: 0;
}

.widget.profile .sidebar-pp {
	width: 100%;
	height: 225px;
	border-radius: 4px 4px 0 0;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

.widget.profile .profile-data {
	padding: 0 15px;
}

.widget.profile .profile-data img {
	margin-top: -50px;
	width: 100px;
	height: 100px;
	border: 4px solid #FFFFFF;
}

.widget.profile .biography {
	margin-bottom: 30px;
}

.widget.profile .username {
	font-weight: 500;
}

.widget.profile .profile-meta {
	padding: 0 15px 15px;
}

.widget.ilearn-badge .badges {
	padding: 0;
	list-style: none;
}

.widget.ilearn-badge .badges li {
	display: inline-block;
}

.widget.ilearn-badge .badges li a {
	display: block;
	padding: 5px;
}

.widget.ilearn-badge .badges li a img {
	max-width: 20px;
	height: auto;
}

.widget.online .friends i[class^="fa"] {
	color: green;
}

.entry {
	padding: 0;
}

.entry .page-title {
	padding: 15px;
	margin: 10px 0;
	border-bottom: 1px solid #F5F6F7;
}

.entry .page-title > h3 {
	font-size: 22px;
	margin: 5px 0 15px;
}

.entry > footer {
	margin: 10px 10px 10px 0;
}

.post {
	padding: 15px;
	border-bottom: 1px solid #F5F6F7;	
}

.post span {
	display: inline-block;
}

.post span.status {
	padding: 3px 6px;
}

.post:last-child {
	border-color: transparent;
}

.post i[class^="fa"] {
	margin-right: 10px;
}

.footer {
	font-size: 0.875rem;
}

/* Profile */

div.profile {
	margin-top: 50px;
	padding-top: 4rem;
	margin-bottom: 1rem;
}

div.profile .change-cover {
	padding-top: 3rem;
	padding-bottom: 1rem;
}

.profile-pict {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
}

.profile-pict figcaption {
	position: absolute;
	height: 100%;
	top: 0; left: 0; right: 0; bottom: 0;
}

.profile-pict figcaption a {
	display: block;
	font-size: 2rem;
	line-height: 6rem;
}

.profile-pict img {
	max-width: 100px;
}

.profile-name {
	font-size: 1.75rem;
	color: #fff;
	text-shadow: 0 0 10px #888;
}

.btn-change-image {
	display: inline-block;
	padding: 3px 6px;
	background: rgba(0,0,0,0.2);
	color: #fff;
	font-size: .75rem;
	transition: all 0.1s linear 0s;
}

.btn-change-image:hover {
	color: #fff;
	text-decoration: none;
	background: rgba(0,0,0,0.5);
}

.profile-form {
	padding: 2rem 0;
}

.form-group div[class^="col-md-offset"] {
    padding-left: 15px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
	background-color: #205081;
}

@media(min-width: 768px){
	.modal-dialog {
		margin: 15% auto;
	}
}

.modal-content {
	box-shadow: unset;
	border-radius: 0;
}

input.datepicker {
	padding: 6px 12px;
}

#chg-cover {
    background: rgba(0,0,0,0.3);
    color: #FFF;
    position: relative;
    display: inline-block;
    padding: 5px 8px;
    transition: all 0.1s linear 0s;
}

#chg-cover:hover {
	color: #FFF;
    background: rgba(0,0,0,0.5);
    text-decoration: none;
}

#chg-picture {
	color: #FFF;
	text-shadow: 0 0 100px rgba(0,0,0,0.9);
}

/* Form */

.form-control {
	border-radius: 0;
	box-shadow: none;
	outline: none;
}

/* Classrooms */
.panel {
	border-radius: 0;
}

.panel-heading,
.panel-footer {
	border-radius: 0;
}

.dropdown-menu {
	border-radius: 0;
}

.cpost-entry {
	position: relative;
}

.cpost-meta .dropdown {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

