/* Admin Page */

.products-list .product-info {
	margin-left: 0;
}

.form-delete-inline {
	display: inline-block;
}

.btn-link-danger {
	background: none;
	color: #9C1313;
}

/* Custom modal dialog position */

@media(min-width: 768px){
	.modal-dialog {
		margin: 15% auto;
	}
}