/* Admin Page */

.products-list .product-info {
	margin-left: 0;
}

.form-delete-inline {
	display: inline-block;
}

.btn-link-danger,
.btn-link-danger:hover {
	background: none;
	color: #9C1313;
}

.user-header {
	background-size: cover !important;
}

/* Custom modal dialog position */

@media(min-width: 768px){
	.modal-dialog {
		margin: 15% auto;
	}
}

input.datepicker {
	padding: 6px 12px;
}

.select2-result-user > .user-picture {
	max-width: 64px;
	margin-right: 15px;
	float: left;
}

.select2-result-user > .user-picture > img {
	width: 100%;
	height: auto;
}

.select2-result-user > .user-meta {
	float: left;
}

.select2-result-user > .user-meta > p {
	margin-bottom: 2px;
}

.select2-result-user > .user-meta > .meta {
	font-size: 12px;
}
