html {
	font-size: 16px;
}

body {
	background-color: #F5F8FA;
	line-height: 1.6;
	font-family: "Open Sans", Helvetica, sans;
	color: #1E3948;
}

.hide-auto {
	position: fixed;
	top: 5%; left: 0; right: 0;
	max-width: 500px;
	margin: auto;
	z-index: 99999;
	border-radius: 0;
}

.btn {
	border-radius: 0;
	border: none;
}

.text-bold {
	font-weight: 700;
}

.navbar-default {
	background-color: #205081;
	font-size: 1rem;
	border: none;
}

.navbar-header {
	display: inline-block;
}

.navbar-brand {
	color: #FFFFFF;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .nav > li > a {
	color: #F5F6F7;
}

.nav > li {
	display: inline-block;
}

.navbar-default .nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}

@media(min-width:768px){
	.navbar-brand {
		height: 50px;
	}
}

@media(max-width:767px){
	.navbar-brand {
		height: 43px;
	}
}

.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-primary {
	display: inline;
}

.navbar-right {
	float: right;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	background-color: #3572B0;
	color: #FFFFFF;
}

.profile-link {
	font-size: 0.875rem;
}

.nav > li.profile-link > a > img {
	max-width: 20px;
}

.content {
	padding-top: 81px;
}

@media(min-width: 768px){
	.left-sidebar {
		position: fixed;
	}
}

.lms-sidebar-menu ul li,
.classrooms ul li {
	display: block;
}

.lms-sidebar-menu ul li a {
	font-weight: 500;
}

.lms-sidebar-menu ul li a .fa,
.classrooms .fa {
	width: 20px;
}

.lms-sidebar-menu h5,
.classrooms h5 {
	font-weight: 700;
}

/* Content & Widget */

.libraries {
	margin-top: 100px;
}

.profile-menu .nav-stacked > li {
	display: block;
}

/* Profile */

div.profile {
	margin-top: 50px;
	padding-top: 4rem;
	margin-bottom: 1rem;
}

div.profile .change-cover {
	padding-top: 3rem;
	padding-bottom: 1rem;
}

.profile-pict {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
}

.profile-pict figcaption {
	position: absolute;
	height: 100%;
	top: 0; left: 0; right: 0; bottom: 0;
}

.profile-pict figcaption a {
	display: block;
	font-size: 2rem;
	line-height: 6rem;
}

.profile-pict img {
	max-width: 100px;
}

.profile-name {
	font-size: 1.75rem;
	color: #fff;
	text-shadow: 0 0 10px #888;
}

.btn-change-image {
	display: inline-block;
	padding: 3px 6px;
	background: rgba(0,0,0,0.2);
	color: #fff;
	font-size: .75rem;
	transition: all 0.1s linear 0s;
}

.btn-change-image:hover {
	color: #fff;
	text-decoration: none;
	background: rgba(0,0,0,0.5);
}

.profile-form {
	margin-bottom: 100px;
}

.form-group div[class^="col-md-offset"] {
    padding-left: 15px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
	background-color: #FAFAFA;
	color: #205081;
}

@media(min-width: 768px){
	.modal-dialog {
		margin: 15% auto;
	}
}

.modal-content {
	box-shadow: unset;
	border-radius: 0;
}

input.datepicker {
	padding: 6px 12px;
}

#chg-cover {
    background: rgba(0,0,0,0.3);
    color: #FFF;
    position: relative;
    display: inline-block;
    padding: 5px 8px;
    transition: all 0.1s linear 0s;
}

#chg-cover:hover {
	color: #FFF;
    background: rgba(0,0,0,0.5);
    text-decoration: none;
}

#chg-picture {
	color: #FFF;
	text-shadow: 0 0 100px rgba(0,0,0,0.9);
}

/* Announcements */
.announcement .status {
	padding: 0 4px;
}

/* Classrooms */
.cpost-entry {
	position: relative;
}

.cpost-meta .dropdown {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.delete-post .dropdown-menu {
	left: auto;
	right: 0;
	border-radius: 2px;
	box-shadow: unset;
}

.dropdown-toggle {
	background: none;
	border: none;
	font-size: 1rem;
}

.tab-content {
	border: 1px solid #ddd;
	border-top: none;
}

.tab-pane {
	padding: 1rem;
}

.discuss-textarea {
	resize: none;
}

.discuss-textarea:focus {
	box-shadow: none;
}

/* Panel & thumbnail */
.thumbnail .caption {
	position: relative;
	text-align: center;
}

.thumbnail .profile-pict {
	position: absolute;
	top: -50%; left: 0; right: 0;
}

.thumbnail .fullname {
	margin-top: 40px;
	font-size: 1rem;
	font-weight: 700;
}

.panel-default > .panel-heading {
	background-color: #FFF;
	padding: 1.5rem 1rem;
}

.panel-default > .panel-footer {
	background-color: #fff;
}

.panel-title {
	font-size: 1rem;
}

.friends .list-group-item a {
	font-size: .825rem;
}

.friends .list-group-item a .fa {
	font-size: .675rem;
	margin-right: .5rem;
}

.media-heading {
	font-size: 1rem;
	font-weight: 700;
}

.text-small {
	font-size: .75rem;
}

.text-small .media-heading {
	font-size: .875rem;
	font-weight: 700;
}

.atau {
	margin: 0 5px;
}

.classroom-wrapper .nav-tabs {
	border-bottom: none;
}

.classroom-wrapper .nav-tabs > li:first-child > a {
	border-left-color: transparent;
	border-bottom-left-radius: 3px;
}

.classroom-wrapper .nav-tabs > li.active > a {
	background-color: #fafafa;
}

.attached {
	font-size: 1rem;
	margin-right: 10px;
}

.no-content {
	color: #bfbfbf;
	margin: 75px 0;
}

.new .tab-content {
	border: none;
}

.new .nav-tabs > li {
	margin-bottom: -2px;
}

.new .nav-tabs > li:first-child a {
	border-left: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	border-top: none;
}

.nav-tabs > li > a {
	border-radius: 0;
}

/* Form */

.nomargin-paginator .pagination {
	margin: 0;
}

.form-control {
	border-radius: 0;
	box-shadow: none;
	outline: none;
}
.element-inline {
	display: inline-block;
}

.select2-container {
    width: 100% !important;
    padding: 0;
}

.select2-container--default.select2-container--focus,
.select2-container--default:active,
.select2-container--default:focus,
.select2-selection.select2-container--focus,
.select2-selection:active,
.select2-selection:focus {
	outline:0;
}

.select2-container--default
.select2-selection--single,
.select2-selection
.select2-selection--single {
	border:1px solid #d2d6de;
	border-radius:0;
	padding:6px 12px;
	height:34px;
}

.select2-container--default.select2-container--open {
	border-color:#3c8dbc;
}

.select2-dropdown {
	border:1px solid #d2d6de;
	border-radius:0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color:#3c8dbc;
	color:#fff;
}

.select2-results__option {
	padding:6px 12px;
	user-select:none;
	-webkit-user-select:none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left:0;
	height:auto;
	margin-top:-4px;
}

.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
	padding-right:6px;
	padding-left:20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height:28px;
	right:3px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	margin-top:0;
}

.select2-dropdown .select2-search__field,
.select2-search--inline .select2-search__field {
	border:1px solid #d2d6de;
}

.select2-dropdown .select2-search__field:focus,
.select2-search--inline .select2-search__field:focus {
	outline:0;border:1px solid #3c8dbc;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
	color:#999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
	background-color:#ddd;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[aria-selected=true]:hover {
	color:#444;
}

.select2-container--default .select2-selection--multiple {
	border:1px solid #d2d6de;
	border-radius:0;
}

.select2-container--default .select2-selection--multiple:focus {
	border-color:#3c8dbc;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color:#d2d6de;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color:#3c8dbc;
	border-color:#367fa9;
	padding:1px 10px;
	color:#fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	margin-right:5px;
	color:rgba(255,255,255,.7);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
	color:#fff;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-right:10px;
}

.wysihtml5-toolbar .btn-default {
	background-color: #f5f5f5;
	border-radius: 3px;
}

.datepicker{
	z-index:1151 !important;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
	cursor: not-allowed;
	color: #999;
}

/* Footer */

.footer p {
	font-size: .75rem;
}

/* Toggle sidebar #263238 */