html {
	font-size: 14px;
}

body {
	font-family: "Open Sans", Helvetica, sans;
	background-color: #F5F8FA;
	line-height: 1.6;
	color: #1E3948;
}

.hide-auto {
	position: fixed;
	top: 5%; left: 0; right: 0;
	max-width: 500px;
	margin: auto;
	z-index: 99999;
	border-radius: 0;
}

.btn {
	border-radius: 1px;
	border: none;
	font-size: 12px;
}

.btn-primary {
	background-color: #205082;
}

.btn-success {
	background-color: #67ab49;
}

.btn-success:hover {
	background-color: #14892c;
}

.btn-link-danger,
.btn-link-danger:hover {
	color: red;
}

.text-bold {
	font-weight: 600;
}

.navbar-default {
	background-color: #3572b0;
	font-size: 1rem;
	border: none;
}

.navbar-header {
	display: inline-block;
}

.navbar-brand {
	color: #FFFFFF;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .nav > li > a {
	color: #F5F6F7;
}

.nav > li {
	display: inline-block;
}

.navbar-default .nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}

@media(min-width:768px){
	.navbar-brand {
		height: 50px;
	}
}

@media(max-width:767px){
	.navbar-brand {
		height: 43px;
	}
}

.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-primary {
	display: inline;
}

.navbar-right {
	float: right;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	background-color: #3572B0;
	color: #FFFFFF;
}

.profile-link {
	font-size: 0.875rem;
}

.profile-link a {
	font-weight: 700;
}

.nav > li.profile-link > a > img {
	max-width: 20px;
}

.content {
	padding-top: 81px;
}

.lms-sidebar-menu ul li {
	display: block;
}

.classrooms ul li {
	display: block;
}

.nav > li > a:focus,
.nav > li > a:hover {
	background-color: none;
}

.classrooms ul li .fa,
.lms-sidebar-menu ul li a .fa {
	width: 12px;
	margin-right: 4px;
}

.lms-sidebar-menu h5,
.classrooms h5 {
	font-weight: 700;
}

.classrooms ul li a,
.lms-sidebar-menu ul li a {
	padding: 5px 15px;
	margin: 10px 0;
}

.classrooms ul li.active a,
.lms-sidebar-menu ul li.active a {
	border-left: 3px solid #337ab7;
}

.sidebar-assignments .fa {
	width: 20px;
}

/* Content & Widget */

.libraries {
	margin-top: 100px;
}

.profile-menu .nav-stacked > li {
	display: block;
}

/* Profile */

div.profile {
	margin-top: 50px;
	padding-top: 7rem;
	margin-bottom: 1rem;
	background-size: cover;
}

div.profile.friend {
	padding-bottom: 6rem;
}

div.profile .change-cover {
	padding-top: 3rem;
	padding-bottom: 1rem;
}

.profile-pict {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
}

.profile-pict figcaption {
	position: absolute;
	height: 100%;
	top: 0; left: 0; right: 0; bottom: 0;
}

.profile-pict figcaption a {
	display: block;
	font-size: 2rem;
	line-height: 6rem;
}

.profile-pict img {
	max-width: 100px;
}

.profile-name {
	font-size: 1.75rem;
	color: #fff;
	text-shadow: 0 0 10px #888;
}

.profile-bio {
	font-size: 1.125rem;
	color: #fff;
	text-shadow: 0 0 10px #CCC;
}

.btn-change-image {
	display: inline-block;
	padding: 3px 6px;
	background: rgba(0,0,0,0.2);
	color: #fff;
	font-size: .75rem;
	transition: all 0.1s linear 0s;
}

.btn-change-image:hover {
	color: #fff;
	text-decoration: none;
	background: rgba(0,0,0,0.5);
}

.profile-form {
	margin-bottom: 100px;
}

.form-group div[class^="col-md-offset"] {
    padding-left: 15px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
	background-color: #FAFAFA;
	color: #205081;
}

@media(min-width: 768px){
	.modal-dialog {
		margin: 10% auto;
	}
}

.modal-content {
	box-shadow: unset;
	border-radius: 0;
}

input.datepicker {
	padding: 6px 12px;
}

#chg-cover {
    background: rgba(0,0,0,0.3);
    color: #FFF;
    position: relative;
    display: inline-block;
    padding: 5px 8px;
    transition: all 0.1s linear 0s;
}

#chg-cover:hover {
	color: #FFF;
    background: rgba(0,0,0,0.5);
    text-decoration: none;
}

#chg-picture {
	color: #FFF;
	text-shadow: 0 0 100px rgba(0,0,0,0.9);
}

/* Announcements */
.announcement .status {
	padding: 0 4px;
}

/* Classrooms */
.cpost-entry {
	position: relative;
}

.cpost-meta .dropdown {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.delete-post .dropdown-menu {
	left: auto;
	right: 0;
	border-radius: 2px;
	box-shadow: unset;
}

.dropdown-toggle {
	background: none;
	border: none;
	font-size: 1rem;
}

.tab-content {
	border: 1px solid #ddd;
	border-top: none;
}

.tab-pane {
	padding: 1rem;
}

.discuss-textarea {
	resize: none;
}

.discuss-textarea:focus {
	box-shadow: none;
}

/* Panel & thumbnail */
.thumbnail .caption {
	position: relative;
	text-align: center;
}

.thumbnail .profile-pict {
	position: absolute;
	top: -50%; left: 0; right: 0;
}

.thumbnail .fullname {
	margin-top: 40px;
	font-size: 1rem;
	font-weight: 600;
}

.panel {
	border-radius: 2px
}

.panel-primary {
	border-color: #dfdfdf;
}

.panel-heading {
	border-radius: 0;
}

.panel-footer {
	background-color: #fff;
}

.panel-sm {
	font-size: .75rem;
}

.panel-title {
	font-size: 14px;
}

.panel-sm .panel-title {
	font-size: .875rem;
}

.panel-primary > .panel-heading {
	background-color: #fafafa;
	color: #111;
	border-color: #dfdfdf;
}

.panel-default > .panel-heading {
	background-color: #FFF;
	padding: 1.5rem 1rem;
}

.course-picture img {
	max-width: 100%;
}

.friends .list-group-item a {
	font-size: .825rem;
}

.friend-profile .list-group-item strong {
	width: 120px;
	display: inline-block;
}

.friends .list-group-item a .fa {
	font-size: .675rem;
	margin-right: .5rem;
}

.media-heading {
	font-size: 0.875rem;
	font-weight: 600;
}

.text-small {
	font-size: .825rem;
}

.text-small .media-heading {
	font-size: .875rem;
	font-weight: 600;
}

.comment {
	padding-left: 50px;
}

.comment .media-object,
.reply .media-object {
	width: 30px;
	height: 30px;
}

.atau {
	margin: 0 5px;
}

.classroom-wrapper .nav-tabs {
	border-bottom: none;
}

.nav-tabs > li > a {
	font-size: 12px;
}

.classroom-wrapper .nav-tabs > li:first-child > a {
	border-left-color: transparent;
	border-bottom-left-radius: 3px;
}

.classroom-wrapper .nav-tabs > li.active > a {
	background-color: #fafafa;
}

.attached {
	font-size: 1rem;
	margin-right: 10px;
}

.no-content {
	color: #bfbfbf;
	margin: 75px 0;
}

.new .tab-content {
	border: none;
}

.new .nav-tabs > li {
	margin-bottom: -2px;
}

.new .nav-tabs > li:first-child a {
	border-left: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	border-top: none;
}

.nav-tabs > li > a {
	border-radius: 0;
}

/* Form */

.nomargin-paginator .pagination {
	margin: 0;
}

.form-control {
	border-radius: 0;
	box-shadow: none;
	outline: none;
	font-size: 12px;
}

.form-submit {
	padding: 10px 15px;
}

.questions-wrapper {
	padding-bottom: 3rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid #ddd;
}

.count-question {
	margin-top: 28px;
}

.element-inline {
	display: inline-block;
}

.select2-container {
    width: 100% !important;
    padding: 0;
    font-size: 12px;
}

.select2-container--default.select2-container--focus,
.select2-container--default:active,
.select2-container--default:focus,
.select2-selection.select2-container--focus,
.select2-selection:active,
.select2-selection:focus {
	outline:0;
}

.select2-container--default
.select2-selection--single,
.select2-selection
.select2-selection--single {
	border:1px solid #d2d6de;
	border-radius:0;
	padding:6px 12px;
	height:34px;
}

.select2-container--default.select2-container--open {
	border-color:#3c8dbc;
}

.select2-dropdown {
	border:1px solid #d2d6de;
	border-radius:0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color:#3c8dbc;
	color:#fff;
}

.select2-results__option {
	padding:6px 12px;
	user-select:none;
	-webkit-user-select:none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left:0;
	height:auto;
	margin-top:-4px;
}

.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
	padding-right:6px;
	padding-left:20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height:28px;
	right:3px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	margin-top:0;
}

.select2-dropdown .select2-search__field,
.select2-search--inline .select2-search__field {
	border:1px solid #d2d6de;
}

.select2-dropdown .select2-search__field:focus,
.select2-search--inline .select2-search__field:focus {
	outline:0;border:1px solid #3c8dbc;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
	color:#999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
	background-color:#ddd;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[aria-selected=true]:hover {
	color:#444;
}

.select2-container--default .select2-selection--multiple {
	border:1px solid #d2d6de;
	border-radius:0;
}

.select2-container--default .select2-selection--multiple:focus {
	border-color:#3c8dbc;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color:#d2d6de;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	background-color:#3c8dbc;
	border-color:#367fa9;
	padding:1px 10px;
	color:#fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	margin-right:5px;
	color:rgba(255,255,255,.7);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
	color:#fff;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-right:10px;
}

.wysihtml5-toolbar .btn-default {
	background-color: #f5f5f5;
	border-radius: 3px;
}

.datepicker{
	z-index:1151 !important;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
	cursor: not-allowed;
	color: #999;
}

.share-to {
	margin-bottom: 1rem;
}

.module-list li .fa {
	margin-right: 10px;
}

.module-list .btn-link {
	padding: 0;
}

.modules-in-classroom {
	margin-top: 1rem;
}

.modules-in-classroom .fa {
	margin-right: 1rem;
}

.module-description {
	margin-top: 2rem;
}

.panel-module {
	margin-bottom: 5rem;
}

ul.wysihtml5-toolbar > li {
	height: 30px;
}

/* Footer */

.footer p {
	font-size: .75rem;
}

/* Toggle sidebar #263238 */

/* Calendar */

.fc-state-default {
	border: 1px solid #ddd;
	background: #eee;
	color: #4f4f4f;
	border-radius: 2px !important;
	box-shadow: unset;
	outline: none;
}

.mc-pagination {
	position: fixed;
	top: 50px; right: 0; bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.mc-pagination ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mc-pagination ul li a {
	padding: 8px 15px;
	display: block;
	border: 1px solid #DDD;
	border-top: none;
	border-right: none;
	background-color: #FFF;
}

.mc-pagination ul li.active a {
	background: #205081;
	font-weight: 700;
	color: #FFF;
	pointer-events: cursor;
}

.question-detail {
	margin-top: 3rem;
	margin-bottom: 3rem;
	float: left;
	width: 100%;
	padding: 2rem;
	border: 1px solid #FFF;
	background: #FFF;
}

.mc-wrapper {
	float: right;
	width: 95%;
}

.mc-order {
	float: left;
	width: 5%;
	font-size: 1.5rem;
}

.mc-question {
	font-size: 1.5rem;
	margin: 5px 0 15px;
}

.mc-answers {
	font-size: 1.125rem;
}

.quiz-loading {
	position: absolute;
	bottom: 0; left: 0; right: 0;
	text-align: center;
	background: #FFF;
	color: #333;
	font-size: 1.25rem;
	padding: 1rem 0;
	display: none;
}

.quiz-student {
	font-size: 1.5rem;
}

.quiz-classroom {
	font-size: 1rem;
}

.alert {
	border-radius: 2px;
}

#err-422 {
	display: none;
}

.panel-button {
	padding: 15px;
	background: transparent;
	background-image: none;
	border: none;
	color: #FFF;
}

.panel-button:hover,
.panel-button:active {
	background-color: #205080;
} 

.panel-left {
	position: fixed;
	top: 0; left: 0; bottom: 0;
	padding-top: 55px;
	background: #222d32;
	z-index: 99;
	transform: translateX(-100%);
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

@media(max-width: 991px) {
	.panel-left {
		width: 300px;
	}
}

.panel-left-heading {
	padding: 1rem 0;
}

.panel-left-heading h3 {
	margin-top: 0;
	font-size: 1.25rem;
}

.panel-left-heading h3 a,
.panel-left-heading h3 a:hover,
.panel-left-heading h3 a:active {
	color: #FFF;
}

.panel-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.panel-menu li.panel-menu-heading {
	padding: 10px 25px 10px 15px;
	font-size: 12px;
}

.panel-menu-heading {
	background-color: #1a2226;
	color: #4b646f;
	text-transform: uppercase;
	padding: 5px;
}

.panel-menu li a {
	display: block;
	color: #b8c7ce;
	border-left: 3px solid transparent;
	padding: 12px 5px 12px 15px;
	text-decoration: none;
	font-weight: 300;
	font-size: 12px;
}

.panel-menu li a .fa {
	width: 20px;
}

.panel-menu li.active a {
	color: #fff;
  background: #1e282c;
  border-left-color: #3572b0;
}

.panel-left-online,
.panel-left-assignments {
	color: #b8c7ce;
	font-weight: 300;
}

.panel-left-online .fa,
.panel-left-assignments .fa {
	font-size: 10px;
}

.panel-left-assignments > strong {
	display: block;
	padding: 12px 5px 0 15px;
	font-size: 12px;
	text-transform: uppercase;
}

#open-left-panel,
#close-left-panel {
	outline: none;
}

#close-left-panel,
#left-panel-overlay {
	display: none;
}

@media(min-width: 768px) {
	#open-left-panel {
		display: none;
	}
}

@media(max-width: 767px) {
	#open-left-panel {
		display: block;
	}
}

@media(max-width: 767px) {
	#left-panel-overlay {
		position: fixed;
		top: 0; left: 0; bottom: 0; right: 0;
		background: rgba(50,50,50, 0.8);
		z-index: 98;
		display: none;
	}
}

.feeds {
	font-size: 13px;
}